@charset "UTF-8";


* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to left, rgb(240, 127, 127), rgb(97, 97, 97));
}

header {
    background-image: linear-gradient(to bottom, black, red);
    color: white;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h1 {
    text-align: center;
}

nav {
    background-color: red;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: rgb(177, 56, 56);
    text-decoration: underline;


}

.diferenciado {
    margin: 0px;
    padding: 0px;
}

main {
    min-width: 350px;
    max-width: 1000px;
    margin: auto;
    display: block;

}

nav {
    margin-bottom: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}