@charset "UTF-8";

header {
    background-color: aquamarine;
    padding: 2em;
    padding-bottom: 100%;
    margin-right: 3em;
    border-top-left-radius: 5px;
}

* {
    margin: 0px;
    padding: 0px;
}

header > img {
    
}